<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tinda</title>
    <!-- Link to the CSS using Flask's url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/find.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <!-- Link to the image using Flask's url_for -->
        <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Tinda Logo" class="logo">
        
        <div class="options">
            <div class="option" onclick="location.href='{{ url_for('find_id') }}'">
                <img src="{{ url_for('static', filename='image/find.png') }}" alt="Find ID">
                <p>아이디 찾기</p>
            </div>
            <div class="option" onclick="location.href='{{ url_for('find_pw') }}'">
                <img src="{{ url_for('static', filename='image/find.png') }}" alt="Find Password">
                <p>비밀번호 찾기</p>
            </div>

            </div>
        
        
        <div class="signup-link">
            <span>회원이 아니신가요? </span><a href="{{ url_for('make_id') }}">회원가입하기</a>
        </div>
    </div>

    <!-- Link to the JS using Flask's url_for -->
    <script src="{{ url_for('static', filename='js/find.js') }}"></script>
</body>
</html>
