<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="icon" href="{{ url_for('static', filename='image/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="search-bar-wrapper">
                <input type="text" id="search-input" class="search-bar" placeholder="‘000’을 검색해보세요">
            </div>
        </div>

        <div class="search-results">

            <div id="post-list" class="post-list">
                <!-- 검색 결과가 여기에 동적으로 추가됩니다 -->
            </div>
        </div>
    </div>
    <section class="bottom"></section>
    <footer>
        <div class="footer-menu">
            <a href="{{ url_for('write') }}" class="post-link">
                <img class="footer-menu-icon" src="{{ url_for('static', filename='image/write.png') }}" alt="글쓰기아이콘"/>
            </a>
            <span>글쓰기</span>
        </div>
        <div class="footer-menu">
            <a href="{{ url_for('save') }}" class="post-link">
                <img class="footer-menu-icon" src="{{ url_for('static', filename='image/save.png') }}" alt="저장됨아이콘"/>
            </a>
            <span>저장됨</span>
        </div>
        <div class="footer-menu">
            <a href="{{ url_for('home_view') }}" class="post-link">
                <img class="footer-menu-icon" src="{{ url_for('static', filename='image/home.png') }}" alt="홈아이콘"/>
            </a>
            <span>홈</span>
        </div>
        <div class="footer-menu">
            <a href="{{ url_for('my') }}" class="post-link">
                <img class="footer-menu-icon" src="{{ url_for('static', filename='image/my.png') }}" alt="내여행아이콘"/>
            </a>
            <span>내 여행</span>
        </div>
        <div class="footer-menu">
            <a href="{{ url_for('setting') }}" class="post-link">
                <img class="footer-menu-icon" src="{{ url_for('static', filename='image/setting.png') }}" alt="설정아이콘"/>
            </a>
            <span>설정</span>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>
